name: Test Workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for testing'
        required: true
        type: string


jobs:
  test:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Run Tests
        run: |
            echo "Writting variables..."
            echo "TEST_ENV_VAR=${{ vars.MI_VARIABLE}}" >> $GITHUB_ENV

  test-2:
      runs-on: ubuntu-latest
      environment: test
      steps:
      - name: Print Environment Variable
        run: echo "The value of TEST_ENV_VAR is ${{ env.TEST_ENV_VAR }}"