name: Test Workflow
on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: string

jobs:
  test-call:
      runs-on: ubuntu-latest
      # environment: ${{ inputs.environment }}
      steps:
      - name: Print Environment Variable
        run: |
          echo environment is ${{inputs.environment}}
          echo The value of the variable is ${{ vars.MI_VARIABLE }}
