name: Test Workflow
on:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    env:
        TEST_ENV_VAR: {{vars.MI_VARIABLE}}
    steps:

      - name: Run Tests
        run: |
            echo "Running tests..."
            echo "The value of TEST_ENV_VAR is $TEST_ENV_VAR"

  test-2:
      runs-on: ubuntu-latest
      environment: test
      steps:
      - name: Print Environment Variable
        run: echo "The value of TEST_ENV_VAR is ${{ env.TEST_ENV_VAR }}"