name: Test Workflow
on:
  workflow_call:

jobs:
  test-call:
      runs-on: ubuntu-latest
      # environment: ${{ inputs.environment-2 }}
      steps:
      - name: Print Environment Variable
        run: |
          echo The value of the variable is ${{ vars.MI_VARIABLE }}
