# .github/workflows/deploy-python-app.yml

name: Build and deploy Python app to Azure Web App

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
        description: 'Name of the Azure Web App'
      slot_name:
        required: false
        type: string
        default: 'Production'
        description: 'Deployment slot name'
      python_version:
        required: false
        type: string
        default: '3.12'
        description: 'Python version to use'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - name: Create and activate virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      # Optional: Add step to run tests here (e.g., PyTest, Django test suites)

      - name: Zip artifact for deployment
        run: zip -r release.zip ./*

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

      - name: Get Runner Public IP Address
        id: get_runner_ip
        run: |
          echo "Fetching runner's public IP address..."
          curl -s https://api.ipify.org > runner_ip.txt
          echo "Runner's public IP address is: $(cat runner_ip.txt)"
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: ${{ inputs.slot_name }}
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: "e8fef53b-6f2b-4f75-a7c9-126571ca5d68"
          tenant-id: "509b778a-521f-4cde-a959-2810893c5616"
          allow-no-subscriptions: true 

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: ${{ inputs.app_name }}
          slot-name: ${{ inputs.slot_name }}
